<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utils</title>
</head>
<body>

    <h1 style="text-align: center;">This is the text analyzer</h1>
    <h5 style="text-align: center;">Enter your text and it would be analyze automatically</h5>

    <form action="/removepunccation" method="get">
        <textarea name="text" style="margin-left: 85px;box-shadow: 20px; width: 800px;height: 100px;"></textarea><br>
        <input type="checkbox" name="removepunccation" style="margin-left: 85px;"> Remove Puncation<br>
        <input type="checkbox" name="capalitize" style="margin-left: 85px;"> Capalitized <br>
        <button type="submit" style="margin-left: 85px;">Analyze Text</button>
    </form>
    
</body>
</html>